{% extends 'base_membre.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <div class="row mb-3">
    <div class="col-12 mt-4 text-center">
      <h2>Les livres de la médiathèque</h2>
    </div>
    <div class="col-12">
      <div class="row justify-content-around">
        {% for livre in livres %}
          <div class="col-lg-3 col-6 mb-3">

            <div class="card h-100">
              <div class="card-header">
                <h4 class="card-title">{{livre.Titre|u.truncate(25, '...')}}</h4>
              </div>
              {% if livre.Img %}
                {% set link = asset('build/img_livre/' ~ livre.Img) %}
                <img class="card-img-top img-fluid" src="{{ link}}" alt="">
              {% endif %}

              <div class="card-body">
                <small>Un livre de
                  {{livre.Auteur|u.truncate(25, '...')}}</small>
                <p class="card-text">{{livre.Description|u.truncate(50, '...')}}</p>
                {# {% if livre.Genres | length %}
                  <h5>Genre</h5>
                  <p class="card-text">
                    {{livre.Genres|join(', ', ' et ')}}
                  </p>
                {% endif %}
                {% if livre.Type %}
                  <h5>Type</h5>
                  <p class="card-text">
                    {{livre.Type}}
                  </p>
                {% endif %} #}
              </div>
              <div class="card-footer">
                <small>Paru le
                  {{livre.Date|date('d/m/Y')}}</small>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}
