{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
  <h1>Liste des livres</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Disponible</th>
        <th>Type</th>
        <th>Genres</th>
        <th>Auteur</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for livre in livres %}
        <tr>
          <td>{{ livre.Titre }}</td>
          <td>{{ livre.Description|u.truncate(50, '...') }}</td>
          <td>{{ livre.Disponible ? 'Oui' : 'Non' }}</td>
          <td>{{ livre.Type }}</td>
          <td>
            <ul>
              {% for genre in livre.Genres %}
                <li>{{genre}}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ livre.Auteur }}</td>
          <td>
            <a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-primary">Modifier</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="7">Aucun résultat</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{{ path('livre_new') }}">Create new</a>
{% endblock %}
