{% extends 'base_base.html.twig' %}
{% block title %}Espace employés{% endblock %}
{% block header %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="{{ url('home') }}">Accueil du site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if pathurl matches '{^/employe}' %}active{% endif %}" href="{{ url('employe') }}">Espace employés</a>
        </li>
        {% if is_granted('ROLE_Administrateur') %}
          <li class="nav-item">
            <a class="nav-link {% if pathurl matches '{^/user/$}' %}active{% endif %}" href="{{ url('user_index') }}">Utilisateurs</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if pathurl matches '{^/user/inactifs}' %}active{% endif %}" href="{{ url('user_index_inactive') }}">Comptes inactifs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if pathurl matches '{^/livre}' %}active{% endif %}" href="{{ url('livre_index') }}">Livres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if pathurl matches '{^/genre}' %}active{% endif %}" href="{{ url('genre_index')}}">Genres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if pathurl matches '{^/emprunt}' %}active{% endif %}" href="{{ url('emprunt_to_valid')}}">Emprunts à valider</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}
