{% extends 'base.html.twig' %}

{% block title %}Listes des utilisateurs{% endblock %}

{% block body %}
  <div class="text-center">
    <h1>Listes des utilisateurs</h1>
    <a href="{{ path('user_new') }}" class="btn btn-primary">Créer un nouvel utilisateur</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.Nom }}</td>
          <td>{{ user.Prenom }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles|join(', ',' et ')|replace({'ROLE_' : ''}) }}</td>
          <td>
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('emprunts_user', {'id': user.id}) }}" class="btn btn-primary">Voir les emprunts</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5">Aucun résultat</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
