{% extends 'base.html.twig' %}

{% block title %}Listes des comptes à valider{% endblock %}

{% block body %}
  <div class="text-center">
    <h1>Listes des comptes à valider</h1>
  </div>
  <div class="row justify-content-around mt-3">
    {% if nbrPage > 1 %}
      <div class="col-md-4 mb-1">

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-start">

            {% if page > 1 %}

              <li class="page-item">
                <a class="page-link" href="{{ path('user_index_inactive', {'search':search,'page':page - 1,'nbrElementByPage':nbrElementByPage}) }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% if page < 4 %}
              {% set pageStart = 1 %}
              {% set pageEnd = 7 %}
            {% elseif (nbrPage - 3) < page %}
              {% set
                pageStart=nbrPage - 6 %}
              {% set pageEnd = nbrPage %}
            {% else %}
              {% set pageEnd = page + 3 %}
              {% set
                pageStart=page - 3 %}
            {% endif %}
            {% if pageEnd > nbrPage %}
              {% set pageEnd = nbrPage %}
            {% endif %}
            {% if pageStart < 1 %}
              {% set pageStart = 1 %}
            {% endif %}
            {% for pageNow in pageStart..pageEnd %}
              {% if pageNow == page %}
                <li class="page-item active">
                  <a class="page-link" href="{{ path('user_index_inactive', {'search':search,'page':pageNow,'nbrElementByPage':nbrElementByPage}) }}">{{
                        pageNow }}
                  </a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{{ path('user_index_inactive', {'search':search,'page':pageNow,'nbrElementByPage':nbrElementByPage}) }}">{{
                            pageNow }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}

            {% if page != nbrPage %}

              <li class="page-item">
                <a class="page-link" href="{{ path('user_index_inactive', {'search':search,'page':page + 1,'nbrElementByPage':nbrElementByPage}) }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}

          </ul>
        </nav>
      </div>
    {% endif %}

    <div class="col-md-2 mb-1">
      <form action="{{ path('user_index_inactive') }}" method="GET">
        <select name='nbrElementByPage' class="custom-select btn btn-primary" onchange='this.form.submit();'>

          {% if nbrElementByPage == 10 %}
            <option selected="selected" value='10'>10</option>
            <option value='15'>15</option>
            <option value='30'>30</option>
            <option value='50'>50</option>
          {% elseif nbrElementByPage == 15 %}
            <option value='10'>10</option>
            <option selected="selected" value='15'>15</option>
            <option value='30'>30</option>
            <option value='50'>50</option>
          {% elseif nbrElementByPage == 30 %}
            <option value='10'>10</option>
            <option value='15'>15</option>
            <option selected="selected" value='30'>30</option>
            <option value='50'>50</option>
          {% elseif nbrElementByPage == 50 %}
            <option value='10'>10</option>
            <option value='15'>15</option>
            <option value='30'>30</option>
            <option selected="selected" value='50'>50</option>
          {% else %}
            <option selected="selected" value='10'>10</option>
            <option value='15'>15</option>
            <option value='30'>30</option>
            <option value='50'>50</option>
          {% endif %}

        </select>
        <input type="hidden" class="form-control" name="search" value="{{search}}">
        <input type="hidden" class="form-control" name="page" value="{{page}}">
      </form>
    </div>
    <div class="col-md-6 mb-1">
      <form action="{{ path('user_index_inactive') }}" method="GET">
        <div class="input-group">
          <input type="search" name="search" class="form-control rounded" placeholder="Rechercher" aria-label="Search" aria-describedby="search-addon" value="{{ search }}"/>
          <input type="hidden" class="form-control" name="nbrElementByPage" value="{{nbrElementByPage}}">
          <input type="hidden" class="form-control" name="page" value="1">
          <button type="submit" class="btn btn-primary w-25 btn-search">
            <i class="m-0 p-0 dripicons">&#xe041;</i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Date de naissance</th>
        <th>Adresse</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.Nom }}</td>
          <td>{{ user.Prenom }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.Datebirth|date('d/m/Y') }}</td>
          <td>{{ user.adresse }}</td>
          <td>
            <a href="{{ path('user_active', {'id': user.id}) }}" class="btn btn-primary">Activer le compte</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5">Aucun résultat</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
